body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bm {
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container .jumbotron {
  padding: 20px 40px;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron h1 {
  font-size: 2.4em;
}

.jumbotron > img {
  margin: 0 10px 0 10px;
}
.highlight {
  border-radius: 4px;
  background: #39CCCC;
  padding: 8px 12px;
}
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.marketing {
  text-align: justify;
}

.footer > div {
  /*margin-bottom:10px;*/
  height: 100px;
}

footer {
  padding-top: 20px;
  border-top: 1px solid #eee;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .jumbotron {
    border-bottom: 0;
  }
}
